In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# create a series of numbers
s=pd.Series([1,2,3,4,5,6,7,8,9,10])
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
# create a dataframe
emp_details={
            "Name":["Ashitha","cherry","Renuka"],
            "Age":[25,22,29],
            "City":["Hyderabad","Banglore","Delhi"]
            }
df=pd.DataFrame(emp_details)
print(df)
df.shape[0]
df.columns
df.dtypes

      Name  Age       City
0  Ashitha   25  Hyderabad
1   cherry   22   Banglore
2   Renuka   29      Delhi

Name    object
Age      int64
City    object
dtype: object

In [ ]:
df.rename(columns={"City":"Location"},inplace=True)
print(df)

      Name  Age   Location
0  Ashitha   25  Hyderabad
1   cherry   22   Banglore
2   Renuka   29      Delhi

In [ ]:
 df.index=[101,102,103]
 df

        Name  Age   Location
101  Ashitha   25  Hyderabad
102   cherry   22   Banglore
103   Renuka   29      Delhi

In [ ]:
sample=pd.DataFrame({"A":[1,2],"B":[3,4]})
sample

   A  B
0  1  3
1  2  4

In [ ]:
# Select single column from dataframe
df["Name"]

101    Ashitha
102     cherry
103     Renuka
Name: Name, dtype: object

In [ ]:
# Select multiple columns from dataframe
df[["Name","Location"]]

        Name   Location
101  Ashitha  Hyderabad
102   cherry   Banglore
103   Renuka      Delhi

In [ ]:
# Select a row loc
df.loc[102]

Name          cherry
Age               22
Location    Banglore
Name: 102, dtype: object

In [ ]:
df.iloc[2]

Name        Renuka
Age             29
Location     Delhi
Name: 103, dtype: object

In [ ]:
# Age>25
df[df["Age"]>25]

       Name  Age Location
103  Renuka   29    Delhi

In [ ]:
df[df["Location"]=="Hyderabad"]

         Age   Location
Name
Ashitha   25  Hyderabad

In [ ]:
df[(df["Age"]>25)&(df["Location"]=="Delhi")]

        Age Location
Name
Renuka   29    Delhi

In [ ]:
print(df.columns)
print(df.index)

Index(['Location'], dtype='object')
Index([25, 22, 29], dtype='int64', name='Age')

In [ ]:
df.isnull()

      Name    Age  Location
101  False  False     False
102  False  False     False
103  False  False     False

In [ ]:
df

        Name  Age   Location
101  Ashitha   25  Hyderabad
102   cherry   22   Banglore
103   Renuka   29      Delhi

In [ ]:
df.isnull().sum()

Name        0
Age         0
Location    0
dtype: int64

In [ ]:
df.dropna()

        Name  Age   Location
101  Ashitha   25  Hyderabad
102   cherry   22   Banglore
103   Renuka   29      Delhi

In [ ]:
df["Age"].sum()

np.int64(76)

In [ ]:
df["Age"].median()

25.0

In [ ]:
df["Age"].mean()

np.float64(25.333333333333332)

In [ ]:
df["Location"].value_counts()

Location
Hyderabad    1
Banglore     1
Delhi        1
Name: count, dtype: int64

In [ ]:
emp_details1={
             "emp_id":[101,102,103,104,105],
             "Name":["Asha","Ravi","Neha","Kiran",'Meena'],
             "Department":["HR","IT","IT","Finance","HR"],
             "Age":[25,30,28,35,26],
             "Salary":[40000,60000,55000,70000,42000],
             "City":["Hyderabad","Banglore","Chennai","Hyderabad","Pune"]
}
df1=pd.DataFrame(emp_details1)
df1

   emp_id   Name Department  Age  Salary       City
0     101   Asha         HR   25   40000  Hyderabad
1     102   Ravi         IT   30   60000   Banglore
2     103   Neha         IT   28   55000    Chennai
3     104  Kiran    Finance   35   70000  Hyderabad
4     105  Meena         HR   26   42000       Pune

In [ ]:
df1.head(3)

   emp_id  Name Department  Age  Salary       City
0     101  Asha         HR   25   40000  Hyderabad
1     102  Ravi         IT   30   60000   Banglore
2     103  Neha         IT   28   55000    Chennai

In [ ]:
df1.columns

Index(['emp_id', 'Name', 'Department', 'Age', 'Salary', 'City'], dtype='object')

In [ ]:
df1.dtypes

emp_id         int64
Name          object
Department    object
Age            int64
Salary         int64
City          object
dtype: object

In [ ]:
df1[df1["Salary"]>50000]

   emp_id   Name Department  Age  Salary       City
1     102   Ravi         IT   30   60000   Banglore
2     103   Neha         IT   28   55000    Chennai
3     104  Kiran    Finance   35   70000  Hyderabad

In [ ]:
df1[df1["Department"]=="IT"]

   emp_id  Name Department  Age  Salary      City
1     102  Ravi         IT   30   60000  Banglore
2     103  Neha         IT   28   55000   Chennai

In [ ]:
df1[(df1["City"]=="Hyderabad")&(df1["Age"]>30)]

   emp_id   Name Department  Age  Salary       City
3     104  Kiran    Finance   35   70000  Hyderabad

In [ ]:
df1.shape[0]

5

In [ ]:
df1["Bonus"]=df1["Salary"]*0.10
df1

   emp_id   Name Department  Age  Salary       City   Bonus
0     101   Asha         HR   25   40000  Hyderabad  4000.0
1     102   Ravi         IT   30   60000   Banglore  6000.0
2     103   Neha         IT   28   55000    Chennai  5500.0
3     104  Kiran    Finance   35   70000  Hyderabad  7000.0
4     105  Meena         HR   26   42000       Pune  4200.0

In [ ]:
df1["Salary"].mean()

np.float64(53400.0)

In [ ]:
df1["Salary"].max()

70000

In [ ]:
df1["Salary"].min()

40000

In [ ]:
df1["Salary"].sum()

np.int64(267000)

In [ ]:
df1.loc[df1["Department"]=="HR","Salary"]*=1.05
df1

   emp_id   Name Department  Age  Salary       City   Bonus
0     101   Asha         HR   25   42000  Hyderabad  4000.0
1     102   Ravi         IT   30   60000   Banglore  6000.0
2     103   Neha         IT   28   55000    Chennai  5500.0
3     104  Kiran    Finance   35   70000  Hyderabad  7000.0
4     105  Meena         HR   26   44100       Pune  4200.0